{% extends 'base.html.twig' %}

{% block title %}Edit Collecte{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white text-center rounded-top">
                    <h3 class="mb-0"><i class="bi bi-pencil-square me-2"></i>Modifier une Collecte</h3>
                </div>
                <div class="card-body">
                    {{ include('collecte/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{{ path('app_collecte_index') }}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Retour à la liste
                        </a>
                        {{ include('collecte/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
